@import "../js/vendor/lesshat/build/lesshat.less";
@import "bootstrap.custom.less";
//@import "iconfont";
@import "deathwhisper/styles.css";
//@import url("http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Cinzel+Decorative|Julius+Sans+One|Cinzel");
@import url("http://fonts.googleapis.com/css?family=Cinzel+Decorative|Open+Sans:400,300|Cinzel");

@white: #fff;
@font-color: #e0e0e0;
@darkest: #101010;
@dark: #222;

@media all {
    body {
        background: @dark;
        color: @font-color;
        font-family: 'Open Sans', 'Cinzel Decorative', coursive;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Cinzel Decorative';
    }

    a{
        color: @font-color;
        text-decoration: underline;
    }

    #header {
        background: @white;
        background: #222;
        padding: 25px;
        width: 100%;

        &.affix {
            top: 0;
            z-index: 9999;
            padding: 0;

            + #landing {
                margin-top: 50px;
            }
        }
    }

    #landing {
        background: @white;
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    #main {
        background: transparent;
        border: 0 none;
        margin-bottom: 0;

        a {
            color: @white;
            text-decoration: none;
            text-transform: lowercase;

            &.navbar-brand{
                text-transform: none;
            }
        }

        li.active a {
            background: transparent;
            color: @font-color;
            text-transform: uppercase;
        }

        .navbar-brand{
            font-family: 'Cinzel'
        }
    }

    #social-nav {
        text-align: center;
        padding-top: 25px;

        a {
            padding: 12px 15px;
            display: inline-block;
            text-decoration: none;
        }
    }

    #news {
        text-align: center;

        header {
            padding-bottom: 25px;
            text-align: center;

            @media (max-width: @screen-sm-max) {
                padding-bottom: 10px;
            }

            h5, h6 {
                color: darken(@font-color, 50%);
            }
        }
    }

    #band {
        text-align: center;

        h2{
            font-family: 'Cinzel';
        }

        img {
            max-width: 100%;
        }

        .profile-picture {
            position: relative;
            //float: left;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                .box-shadow(inset 0 0 25px rgba(0, 0, 0, .8));
            }

            + header {
                padding: 25px 0 50px;
            }
        }
    }

    #tour{
        text-align: center;
    }

    main > .row {
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: @screen-sm-max) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        [class^="col-md-"] {
            padding: 0 50px;
        }




    }

    .section-header {
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 20px;

        h1 {
            margin-top: 0;
        }
    }

    .thumbnail {
        background: transparent;
        border: 0 none;

        img {
            .transition(300ms all ease-in-out);
            .box-shadow(0 5px 20px #000);

            &:hover {
                .transform(scale(1.2));
            }
        }

        .caption {
            color: #c0c0c0;
        }
    }

    #news {
        .col-sm-4 {
            padding-left: 30px;
            padding-right: 30px;

            @media (max-width: @screen-sm-max) {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

    #footer {
        text-align: center;
        padding: 10px;
        color: #616161;
        text-transform: uppercase;
    }

    iframe{
        color: @white;
        background: @white;
    }
}