@import "../js/vendor/lesshat/build/lesshat.less";
@import "../js/vendor/bootstrap/less/bootstrap.less";
@import url("http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Cinzel+Decorative|Julius+Sans+One|Cinzel");

@white: #fff;
@font-color: #e0e0e0;

@media all{
	body{
		background: #101010;
		color: @font-color;
		font-family: 'Julius Sans One','Cinzel Decorative', coursive;
	}

	h1,h2,h3,h4,h5,h6{
		font-family:'Cinzel';
	}

	#header{
		background: @white;
		width: 100%;

		&.affix{
			.box-shadow(0 1px 2px rgba(0,0,0,.25));
			top: 0;
			z-index: 9999;

			+ #landing{
				margin-top: 50px;
			}
		}
	}

	#landing{
		background: @white;
		img{
			max-width: 100%;
		}
	}

	#main{
		background: transparent;
		border: 0 none;
		margin-bottom: 0;

		a{
			color: #101010;
			font-size: 16px;
		}

		li.active a{
			background: #101010;
			color:@font-color;
		}
	}

	.container>.row{
		padding-top: 100px;
		padding-bottom: 100px;

		[class^="col-md-"]{
			padding: 0 50px;
		}

		&.news{
			text-align: center;

			header{
				padding-bottom: 25px;
				text-align: center;

				h5,h6{
					color: darken(@font-color,50%);
				}
			}
		}
	}

	.section-header{
		text-align: center;

		h1{
			margin-top: 0;
		}
	}

	.landing-container{
		background: url("../img/landing.jpg") no-repeat;
		height: 500px;
		background-size: 100%;
	}
}